.player-card__container {
  display: grid;
  gap: 16px;
  padding: 0 1rem 3rem 1rem;
}

.player-card {
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border: 2px solid var(--light);
  height: 180px;
  margin: 3rem 0 0 0;
  position: relative;
}

.player-card:hover {
  box-shadow: var(--s12dp);
}

.player-card img {
  bottom: 0;
  height: 240px;
  position: absolute;
  right: 0;
}

.player-card figcaption {
  bottom: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  left: 1rem;
  position: absolute;
  z-index: 1;
}

.player-card::before {
  background: url('https://am-a.akamaihd.net/image/?resize=500:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2F1592589259480_DamwonGamingDWG-01-FullonDark.png');
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 100%;
  position: absolute;
  top: -10%;
  width: 100%;
  z-index: -1;
}

.player-card::after {
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.position__top::after {
  content: url('/images/top.svg');
}

.position__jungle::after {
  content: url('/images/jungle.svg');
}

.position__mid::after {
  content: url('/images/mid.svg');
}

.position__adc::after {
  content: url('/images/adc.svg');
}

.position__sup::after {
  content: url('/images/sup.svg');
}

@media (min-width: 768px) {
  .player-card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .player-card__container {
    padding: 0 0 3rem 0;
  }
}
